body {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

#loginbox {
  margin: auto;
  top: 50%;
  background-color: #1f1f1f;
  border-radius: 25px;
  padding: 20px;
  width: 300px;

  text-align: center;
}

#center {
  height: 25px;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.field {
  width: 95%;
  padding: 3px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  outline: none;
}
#login-form-submit {
  width: 100%;
  padding: 7px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

textarea {
  resize: none;
}
#login-form-submit:active {
  background-color: #282828;
}