body {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

#body {
  margin: auto;
}

div {
  top: 50%;
  background-color: #1f1f1f;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
  width: 300px;

  text-align: center;
}
#list {
  width: 90%;
  text-align: left;
}
.side {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #f5a93f;
}

a:link {
  color: rgb(28, 161, 233);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #f5a93f;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: underline;
}